/*.foto{
    width: 100%;
    height: 500px;
}*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
    
    
}
header{
    height: 100px;
    text-align: center;
    font: normal 30pt arial;
    line-height: 100px;
}

.verde{
    color: #009c3b
}

.amarelo{
    color: #EACC2E;
}
.azul{
    color: #2E266E;
}

.foto{
    background-image: url('https://c.tenor.com/ubJGgKh81RYAAAAC/bandeira-brasil.gif');
    background-size: auto;
    background-position: center;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: flex;
    padding: 10px;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    
    
}

.img{
    border-radius: 50%;
    margin-top: 80px;
    padding: 20px;
}


.text-meio{
    padding: 80px;
    text-align: center;
    font: italic 40pt arial;
    color: #2E266E;
    width: calc(100/3);
    background-color: #009c3b;
}

.container{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    
}

.envolta{

    box-shadow: 2px 2px 2px 2px #2E266E;
    padding: 5px;
    font-weight: bold;

}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    border-radius: 50%;
}


.bolsonaro{
    display: flex;  
    background-color: #2E266E;
    height: 550px;
    
}
.bozo-foto{
    width: 100%;
    background-image: url('https://i1.sndcdn.com/artworks-000652851574-p42qen-t500x500.jpg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 4px 5px 6px 6px #EACC2E;;
}

.text-bozo{

}

.text-bozo{
    color: #FFF;
    font: inter;
    margin:10px 0 0 15%;
    font:normal 20pt inter

}
footer{
    text-align: center;
    background-color: #009c3b;
}


