/*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('./img/brasil2.jpg');
    background-size: auto;
    background-position: right;
    height: 100vh;
    width: 100wh;
    background-repeat: repeat;
    opacity: .9;

}

header{
    text-align: center;
    color: #FFF;
    font: normal 20pt arial;
}
figure p{
    color: #FFF;
    font: normal 20pt arial;
   
}
*/